*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
/**************__MENU__********************/
nav{
	width: 100%;
	background-color: rgba(86, 206, 139, 0.6); 
	overflow: hidden;
	padding: 10px;
	position: fixed;
	top: 0px;
	z-index: 1000;	
}

header{
	background-image: url(../img/fondo.jpg);
 	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	padding-bottom: 400px;
  	text-align: center;
  	position: relative;
}

.logo{
	float: left;
	padding-left: 80px;
}

.logo img{
	max-width: 100%;
	width: 70px;
	height: auto;
}

/**********_MENU_HAMBURGUER_**********/
.hamburguer-mobile {
	display: inline-block;
	position: absolute;
	left: 70%;
	top: 25%;
	max-width: 100%;
	width: 50px;
	/*outline: 1px solid red;*/

}
.desktop{
	display: none;
}

.lista_principal{
	font-size: 1.25rem;
	float: right;
	margin-top: 20px;
	padding-right: 80px;
}

.lista_principal li{
	display: inline-block;
	padding: 10px 20px;
}

.lista_principal li a{
	font-weight: 700;
	font-size: 1.5rem;
	color: #BC00C3;
}

a{
	text-decoration: none;
	color: white;
	display: block;
}

header span{
	/*outline: 1px solid blue;*/
	display: flex;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2em;
	font-weight: 500;
	font-family: 'Kavoon', sans-serif;
	color: #37054E;

}
/*section inline block para que se adapte los demas  div*/
section{
 	display: inline-block;

}

.section-text article div{
	background-color: white;
	padding: 50px;
	font-family: "Amarantah", sans-serif;
	font-weight: 400;
	line-height: 1.30;
	font-size: 1.2em;
	text-align: center;

}

/*p{
	color: white;
	line-height: 1.5%;
	font-size: 20px;
	font-weight: 500;
}*/
*/

/*************__TEXT__***********************/


.cart-title{
	background: #0CD696;
	
}
.conteinert-cart{
	padding-bottom: 20px;
}
.conteiner-cart img{
	max-width: 100%;
	height: 200px;
	padding: 0px;
	border-radius: 5%;
}

button{
	background-color: darkblue;
	border: none;
	color: white;
	font-weight: bold;
	position: relative;
	left: 25%;
	margin: 10px;
}

footer{
	width: 100%;
	padding: 10px;
	color: white;
	text-align: center;
	background-color: black;
}


@media(min-width: 768px){
	/*esconder el icon cuando sea mayor a 768px*/
	.hamburguer-mobile {
		display: none;
	}
	/*activar el menu*/
	.desktop{
		display: block;
	}

	
/*menorar el tamaño de titulo de la fuente*/
	header span{
		font-size: 3rem;
	}

	.conteiner-cart{
		padding-bottom: 20px;
	}
	.conteiner-cart img{
	max-width: 100%;
	width: 350px;
	height: 200px;
	/*outline: 1px solid red;*/
	border-radius: 5%;
	}
	.margin{
		margin-left: auto;
		margin-right:auto;
	}
}



